<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="eSports-card">
      <div class="page-header">
          <h1>{{ Titulo }}</h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="jogoInteresse">Jogo de Interesse</label>
            <input type="text" id="jogoInteresse" name="jogoInteresse" class="form-control">
          </div>
          <div class="form-group">
            <label for="funcaoJogo">Posição/função no jogo</label>
            <input type="text" id="funcaoJogo" name="funcaoJogo" class="form-control">
          </div>
           <div class="form-group">
            <label for="ranking">Ranking</label>
            <input type="text" id="ranking" name="ranking" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>